/*Globals*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Trebuchet MS";
    font-size: 14px;
    color: #ffed71;
    background-image: linear-gradient(to bottom right, #6495ED, #00BFFF );
}

img {
    border: none;
}

h1 {
    font-family: "Trebuchet MS";
    font-size: 22px;
    font-weight: normal;
}

h2 {
    font-family: "Trebuchet MS";
    font-size: 18px;
    font-weight: normal;
}

P {
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #ffed71;
}

    a:hover {
        color: #ffffff;
    }

li a .dropdownbutton {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}


li.dropdownlist {
    display: inline-block;
}





/*General*/
.panel {
}

.title {
}

.content {
}

.button a {
    text-decoration: none;
    background: url(../images/btn-bg.png) no-repeat;
    width: 9%;
    height: 3%;
    text-align: center;
    line-height: 30px;
    display: block;
}

    .button a:hover {
        background: url(../images/btn-bghover.png) no-repeat;
        color: #04192f;
    }

.page-wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}



/*Header*/
.header-wrap {
    background-image: linear-gradient(to left, #696969, #00008B );
}

.logo {
    width: 100%;
    margin: 0 auto;
}

    .logo h1 {
        color: #ffffff;
        font-size: 45px;
        font-weight: normal;
        padding-left: 3%;
        padding-bottom: 10px;
        padding-top: 10px;
    }


    /*Menu*/
    .menu-wrap {
        overflow: hidden;
        width: 100%;
        background-color: darkblue;
    }

    .menu {
        float: left;
        width: 100%;
    }

        .menu ul li {
            list-style: none;
            float: left;
            width: 12.5%;
            text-align: center;
            line-height: 40px;
            background-color: darkblue;
        }

            .menu ul li a {
                width: 100%;
                text-decoration: none;
                font-size: 11px;
                font-weight: bold;
                text-align: center;
                display: block;
                color: #ffed71;
            }

                .menu ul li a:hover {
                    color: #00BFFF;
                    background-color: blue
                }

                .menu ul li a.active {
                    background-color: blue;
                    width: 100%;
                    height: 40px;
                    color: #ffffff;
                }

    .dropdownlist-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 16.6%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdownlist-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            background-image: linear-gradient(to bottom right, #00008B, #00008B );
        }

            .dropdownlist-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdownlist:hover .dropdownlist-content {
        display: block;
    }




    /*Banner*/
.banner-wrap {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}



.banner-book {
    height: 430px;
    background: url(../images/shoppingcart.png) no-repeat;
    background-position: center;
    padding-top: 50px;
    position: relative;

}

    .banner-index {
        height: 630px;
        background: url(../images/image1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 25%;
    }

    .banner {
        height: 430px;
        background-image: linear-gradient(to right, #1E90FF,#ADD8E6);
        text-align: center;
        padding-top: 50px;
    }

        .banner .banner-img {
            margin: 0 auto;
            padding-left: 10%;
            padding-top: 26px;
            padding-bottom: 26px;
        }

    .shadow {
        height: 38px;
        background: url(../images/shadow.png) no-repeat;
    }

    .banner-wrap .banner .link p a {
        text-decoration: underline;
        color: #FFFFFF;
        text-align: center;
    }

        .banner-wrap .banner .link p a:hover {
            color: #0000FF;
        }

        .banner-wrap .banner .link p a.active {
            color: #0000FF;
        }







    /*Wrap*/
    .wrap3 {
        width: 100%;
        margin: 0 auto;
    }

        .wrap3 .panel {
            width: 100%;
            float: left;
        }

            .wrap3 .panel .title {
                padding-bottom: 15px;
                padding-top: 15px;
                padding-left: 10%;
            }

                .wrap3 .panel .title h1 {
                    color: #ffffff;
                }

            .wrap3 .panel .content img {
                margin-bottom: 20px;
            }

            .wrap3 .panel .content p a {
                color: #ffed71;
                text-decoration: underline;
                font-style: italic;
                padding-top: 30px;
                display: block;
            }

                .wrap3 .panel .content p a:hover {
                    color: #fff;
                    text-decoration: none;
                }

            .wrap3 .panel .content .icon {
                float: left;
                padding-right: 2%;
            }

            .wrap3 .panel .content span {
                text-decoration: underline;
                color: #ffffff;
            }

            .wrap3 .panel .content ul {
                padding-top: 30px;
            }

                .wrap3 .panel .content ul li a {
                    text-decoration: none;
                    color: #ffffff;
                }

                    .wrap3 .panel .content ul li a:hover {
                        color: #ffed71;
                    }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Left Column*/
.leftcol {
    float: left;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
}

        .leftcol .panel {
            width: 100%;
        }


            .leftcol .panel .title h1 {
                text-transform: uppercase;
            }

            .leftcol .panel .content h2 {
                color: #1e3246;
                padding-bottom: 15px;
                padding-top: 10px;
            }

            .leftcol .panel .title span {
                font-size: 18px;
                color: #ffed71;
            }

            .leftcol .panel .content p {
                padding-bottom: 20px;
            }

            .leftcol .panel .content img {
                float: left;
                margin-right: 2%;
                background: #dd2900;
                padding: 3px;
                border: #f32d00 solid 2px;
            }



    /*Copyright area -index page*/
    .copyright-wrap-index {
        text-align: left;
    }

        .copyright-wrap-index .content {
            color: #ffed71;
            margin-left: 3%;
        }

            .copyright-wrap-index .content p a {
                color: #FF8C00;
                text-decoration: underline;
            }

                .copyright-wrap-index .content p a:hover {
                    color: #0000FF;
                }

                .copyright-wrap-index .content p a.active {
                    color: #0000FF;
                }

    /*Copyright area - book now page*/
    .copyright-wrap-book {
        background: url(../images/shutterstock_1064822804-rendered.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 75%;
    }

        .copyright-wrap-book .content {
            text-align: left;
            color: #ffed71;
            margin-top: 150px;
            margin-left: 3%;
        }

            .copyright-wrap-book .content p a {
                color: #FF8C00;
                text-decoration: underline;
            }

                .copyright-wrap-book .content p a:hover {
                    color: #0000FF;
                }

                .copyright-wrap-book .content p a.active {
                    color: #0000FF;
                }

    /*Copyright area - things to do page*/
    .copyright-wrap-todo {
        background: url(../images/shutterstock_244469254.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

        .copyright-wrap-todo .content {
            text-align: left;
            color: #ffed71;
            margin-top: 150px;
            margin-left: 3%;
        }

            .copyright-wrap-todo .content p a {
                color: #FF8C00;
                text-decoration: underline;
            }

                .copyright-wrap-todo .content p a:hover {
                    color: #0000FF;
                }

                .copyright-wrap-todo .content p a.active {
                    color: #0000FF;
                }


    /*Copyright area - restaurants page*/
    .copyright-wrap-restaurants {
        background: url(../images/shutterstock_59858554.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

        .copyright-wrap-restaurants .content {
            text-align: left;
            color: #ffed71;
            margin-top: 150px;
            margin-left: 3%;
        }

            .copyright-wrap-restaurants .content p a {
                color: #FF8C00;
                text-decoration: underline;
            }

                .copyright-wrap-restaurants .content p a:hover {
                    color: #0000FF;
                }

                .copyright-wrap-restaurants .content p a.active {
                    color: #0000FF;
                }

    /*Copyright area - grocery stores page*/
    .copyright-wrap-grocery {
        background: url(../images/shutterstock_688345996.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 60%;
    }

        .copyright-wrap-grocery .content {
            text-align: left;
            color: #ffed71;
            margin-top: 150px;
            margin-left: 3%;
        }

            .copyright-wrap-grocery .content p a {
                color: #FF8C00;
                text-decoration: underline;
            }

                .copyright-wrap-grocery .content p a:hover {
                    color: #0000FF;
                }

                .copyright-wrap-grocery .content p a.active {
                    color: #0000FF;
                }

    /*Copyright area - lodging page*/
    .copyright-wrap-lodging {
        background: url(../images/shutterstock_1289367760.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 25%;
    }

        .copyright-wrap-lodging .content {
            text-align: left;
            color: #ffed71;
            margin-top: 150px;
            margin-left: 3%;
        }

            .copyright-wrap-lodging .content p a {
                color: #FF8C00;
                text-decoration: underline;
            }

                .copyright-wrap-lodging .content p a:hover {
                    color: #0000FF;
                }

                .copyright-wrap-lodging .content p a.active {
                    color: #0000FF;
                }

    /*Copyright area - ground transportation page*/
    .copyright-wrap-ground {
        background: url(../images/shutterstock_406422415.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 25%;
    }

        .copyright-wrap-ground .content {
            text-align: left;
            color: #ffed71;
            margin-top: 150px;
            margin-left: 3%;
        }

            .copyright-wrap-ground .content p a {
                color: #FF8C00;
                text-decoration: underline;
            }

                .copyright-wrap-ground .content p a:hover {
                    color: #0000FF;
                }

                .copyright-wrap-ground .content p a.active {
                    color: #0000FF;
                }

    /*Copyright area - to and from the island page*/
    .copyright-wrap-toandfrom {
        background: url(../images/shutterstock_1317262712.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 75%;
    }

        .copyright-wrap-toandfrom .content {
            text-align: left;
            color: #ffed71;
            margin-top: 150px;
            margin-left: 3%;
        }

            .copyright-wrap-toandfrom .content p a {
                color: #FF8C00;
                text-decoration: underline;
            }

                .copyright-wrap-toandfrom .content p a:hover {
                    color: #0000FF;
                }

                .copyright-wrap-toandfrom .content p a.active {
                    color: #0000FF;
                }

    /*Copyright area - travel tips page*/
    .copyright-wrap-traveltips {
        background: url(../images/shutterstock_622572167.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 40%;
    }

        .copyright-wrap-traveltips .content {
            text-align: left;
            color: #ffed71;
            margin-top: 150px;
            margin-left: 3%;
        }

            .copyright-wrap-traveltips .content p a {
                color: #FF8C00;
                text-decoration: underline;
            }

                .copyright-wrap-traveltips .content p a:hover {
                    color: #0000FF;
                }

                .copyright-wrap-traveltips .content p a.active {
                    color: #0000FF;
                }


