/* General Configuration */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Trebuchet MS";
    font-size: 14px;
    color: #ffed71;
    background-image: linear-gradient(to bottom right, #6495ED, #00BFFF );
}

img {
    border: none;
}

h1 {
    font-family: "Trebuchet MS";
    font-size: 22px;
    font-weight: normal;
}

P {
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #ffed71;
}

    a:hover {
        color: #ffffff;
    }

li a .dropdownbutton {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li.dropdownlist {
    display: inline-block;
}

.wrapper2 {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}







/* Header Configuration*/
.header-wrapper {
    background-image: linear-gradient(to left, #696969, #00008B );
}

.subheader-wrapper {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.logo {
    width: 100%;
    margin: 0 auto;
}

    .logo h1 {
        font-weight: normal;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 3%;
        color: #ffffff;
        font-size: 45px;
    }





/* Navbar configuration */
.nav-wrapper {
    width: 100%;
    background-color: darkblue;
    overflow: hidden;
}

.menu {
    width: 100%;
    float: left;
}

    .menu ul li {
        float: left;
        width: 12.5%;
        text-align: center;
        line-height: 40px;
        list-style: none;
        background-color: darkblue;
    }

        .menu ul li a {
            width: 100%;
            text-decoration: none;
            display: block;
            color: #ffed71;
            font-size: 11px;
            font-weight: bold;
            text-align: center;
        }

            .menu ul li a:hover {
                background-color: blue;
                color: #00BFFF;
            }

            .menu ul li a.active {
                width: 100%;
                height: 40px;
                color: #ffffff;
                background-color: blue;
            }

.dropdownlist-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    background-color: #f9f9f9;
    min-width: 16.6%;
    position: absolute;
    z-index: 1;
}

    .dropdownlist-content a {
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
        padding: 12px 16px;
        background-image: linear-gradient(to bottom right, #00008B, #00008B );
    }

        .dropdownlist-content a:hover {
            background-color: #f1f1f1;
        }

.dropdownlist:hover .dropdownlist-content {
    display: block;
}




/*pagecontent*/
.pagecontent-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}



.pagecontent-book {
    height: 430px;
    background: url(../images/image10.png) no-repeat;
    background-position: center;
    padding-top: 50px;
    position: relative;
}

.pagecontent-index {
    height: 630px;
    background: url(../images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 25%;
}

.pagecontent {
    height: 430px;
    background-image: linear-gradient(to right, #1E90FF,#ADD8E6);
    text-align: center;
    padding-top: 50px;
}

    .pagecontent .pagecontent-img {
        margin: 0 auto;
        padding-left: 10%;
        padding-top: 26px;
        padding-bottom: 26px;
    }

.shadow {
    height: 38px;
    background: url(../images/shadow.png) no-repeat;
    background-position: center;
}

.pagecontent-wrapper .pagecontent .link p a {
    text-decoration: underline;
    color: #FFFFFF;
    text-align: center;
}

    .pagecontent-wrapper .pagecontent .link p a:hover {
        color: #0000FF;
    }

    .pagecontent-wrapper .pagecontent .link p a.active {
        color: #0000FF;
    }







/*wrapper*/
.wrapper {
    margin: 0 auto;
    width: 100%;
}

    .wrapper .panel {
        float: left;
        width: 100%;
    }

        .wrapper .panel .title {
            padding-left: 10%;
            padding-bottom: 15px;
        }

            .wrapper .panel .title h1 {
                color: #ffffff;
            }

        .wrapper .panel .content img {
            margin-bottom: 20px;
        }

        .wrapper .panel .content p a {
            font-style: italic;
            padding-top: 30px;
            color: #ffed71;
            text-decoration: underline;
            display: block;
        }

            .wrapper .panel .content p a:hover {
                text-decoration: none;
                color: #fff;
            }

        .wrapper .panel .content .icon {
            padding-right: 2%;
            float: left;
        }

        .wrapper .panel .content span {
            color: #ffffff;
            text-decoration: underline;
        }

        .wrapper .panel .content ul {
            padding-top: 30px;
        }

            .wrapper .panel .content ul li a {
                color: #ffffff;
                text-decoration: none;
            }

                .wrapper .panel .content ul li a:hover {
                    color: #ffed71;
                }

.container:hover .overlay {
    opacity: 1;
}

.overlay {
    opacity: 0;
    transition: .5s ease;
    width: 100%;
    background-color: #008CBA;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    left: 0;
}

.text {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 20px;
    position: absolute;
    text-align: center;
    color: white;
}

/*Column*/
.col {
    overflow: hidden;
    margin-top: 30px;
    float: left;
    width: 100%;
}

    .col .panel {
        width: 100%;
    }

        .col .panel .title h1 {
            text-transform: uppercase;
        }

        .col .panel .content h2 {
            padding-bottom: 15px;
            color: #1e3246;
            padding-top: 10px;
        }

        .col .panel .title span {
            color: #ffed71;
            font-size: 18px;
        }

        .col .panel .content p {
            padding-bottom: 20px;
        }

        .col .panel .content img {
            margin-right: 2%;
            background: #dd2900;
            padding: 3px;
            float: left;
            border: #f32d00 solid 2px;
        }



/*Copyright area -index page*/
.copyright-wrapper-index {
    text-align: left;
}

    .copyright-wrapper-index .content {
        color: #ffed71;
        margin-left: 3%;
    }

        .copyright-wrapper-index .content p a {
            color: #FF8C00;
            text-decoration: underline;
        }

            .copyright-wrapper-index .content p a:hover {
                color: #0000FF;
            }

            .copyright-wrapper-index .content p a.active {
                color: #0000FF;
            }

/*Copyright area - book now page*/
.copyright-wrapper-book {
    background: url(../images/image2.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 75%;
}

    .copyright-wrapper-book .content {
        text-align: left;
        color: #ffed71;
        margin-top: 150px;
        margin-left: 3%;
    }

        .copyright-wrapper-book .content p a {
            color: #FF8C00;
            text-decoration: underline;
        }

            .copyright-wrapper-book .content p a:hover {
                color: #0000FF;
            }

            .copyright-wrapper-book .content p a.active {
                color: #0000FF;
            }

/*Copyright area - things to do page*/
.copyright-wrapper-todo {
    background: url(../images/image3.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

    .copyright-wrapper-todo .content {
        text-align: left;
        color: #ffed71;
        margin-top: 150px;
        margin-left: 3%;
    }

        .copyright-wrapper-todo .content p a {
            color: #FF8C00;
            text-decoration: underline;
        }

            .copyright-wrapper-todo .content p a:hover {
                color: #0000FF;
            }

            .copyright-wrapper-todo .content p a.active {
                color: #0000FF;
            }


/*Copyright area - restaurants page*/
.copyright-wrapper-restaurants {
    background: url(../images/image4.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

    .copyright-wrapper-restaurants .content {
        text-align: left;
        color: #ffed71;
        margin-top: 150px;
        margin-left: 3%;
    }

        .copyright-wrapper-restaurants .content p a {
            color: #FF8C00;
            text-decoration: underline;
        }

            .copyright-wrapper-restaurants .content p a:hover {
                color: #0000FF;
            }

            .copyright-wrapper-restaurants .content p a.active {
                color: #0000FF;
            }

/*Copyright area - grocery stores page*/
.copyright-wrapper-grocery {
    background: url(../images/image5.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

    .copyright-wrapper-grocery .content {
        text-align: left;
        color: #ffed71;
        margin-top: 150px;
        margin-left: 3%;
    }

        .copyright-wrapper-grocery .content p a {
            color: #FF8C00;
            text-decoration: underline;
        }

            .copyright-wrapper-grocery .content p a:hover {
                color: #0000FF;
            }

            .copyright-wrapper-grocery .content p a.active {
                color: #0000FF;
            }

/*Copyright area - lodging page*/
.copyright-wrapper-lodging {
    background: url(../images/image6.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

    .copyright-wrapper-lodging .content {
        text-align: left;
        color: #ffed71;
        margin-top: 150px;
        margin-left: 3%;
    }

        .copyright-wrapper-lodging .content p a {
            color: #FF8C00;
            text-decoration: underline;
        }

            .copyright-wrapper-lodging .content p a:hover {
                color: #0000FF;
            }

            .copyright-wrapper-lodging .content p a.active {
                color: #0000FF;
            }

/*Copyright area - ground transportation page*/
.copyright-wrapper-ground {
    background: url(../images/image8.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

    .copyright-wrapper-ground .content {
        text-align: left;
        color: #ffed71;
        margin-top: 150px;
        margin-left: 3%;
    }

        .copyright-wrapper-ground .content p a {
            color: #FF8C00;
            text-decoration: underline;
        }

            .copyright-wrapper-ground .content p a:hover {
                color: #0000FF;
            }

            .copyright-wrapper-ground .content p a.active {
                color: #0000FF;
            }

/*Copyright area - to and from the island page*/
.copyright-wrapper-toandfrom {
    background: url(../images/image7.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 75%;
}

    .copyright-wrapper-toandfrom .content {
        text-align: left;
        color: #ffed71;
        margin-top: 150px;
        margin-left: 3%;
    }

        .copyright-wrapper-toandfrom .content p a {
            color: #FF8C00;
            text-decoration: underline;
        }

            .copyright-wrapper-toandfrom .content p a:hover {
                color: #0000FF;
            }

            .copyright-wrapper-toandfrom .content p a.active {
                color: #0000FF;
            }

/*Copyright area - travel tips page*/
.copyright-wrapper-traveltips {
    background: url(../images/image9.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

    .copyright-wrapper-traveltips .content {
        text-align: left;
        color: #ffed71;
        margin-top: 150px;
        margin-left: 3%;
    }


        .copyright-wrapper-traveltips .content p a {
            color: #FF8C00;
            text-decoration: underline;
        }

            .copyright-wrapper-traveltips .content p a:hover {
                color: #0000FF;
            }

            .copyright-wrapper-traveltips .content p a.active {
                color: #0000FF;
            }
